html, body {
	height: 100%;
}
	
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	/*color: rgba(0,0,0,.6);*/
	 
}
	
	
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
	color: #404040;
}
	
p,
ol,
ul {
	margin-top: 0;
}
	
ol,
ul {
	padding: 0;
	list-style: none;
}
	
p {
	line-height: 1.5;
}
	
a {
	color: #2056ac;
}
	
a:hover {
	text-decoration: none;
}


/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

h1.article-title {
	font-size: 1.5em;
	font-weight: bold;
}

.article-body {
	display: block;
	font-size: 1.1em;
	line-height: 1.5;
	/* margin-top: 1em; */
	margin-bottom: 1em;
}

.article-body a {
	text-decoration: none !important;
	color: #039BE5 !important;
}

.article-body a u {
	text-decoration: none !important;
}

.article-body a:hover {
	color: #037FBC !important;
	text-decoration: underline !important;
}

.article-body h1 {
	font-size: 1.5em !important;
}
	

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
	display: inline-block;
	border: 1px solid rgba(0,0,0,.1);
}

.image img {
	display: block;
	width: 100%;
}
	
.image-full {
	display: block;
	width: 100%;
	margin: 0 0 3em 0;
}
	
.image-left {
	float: left;
	margin: 0 2em 2em 0;
}
	
.image-centered {
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img {
	margin: 0 auto;
	width: auto;
}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.social-contacts {
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.social-contacts li {
	display: inline-block;
	padding: 0em 0.10em;
	/* font-size: 1em; */
}

ul.social-contacts li a {
    color: #FFF;
    text-decoration: none;
}

ul.social-contacts li a:hover {
    text-decoration: underline;
}

ul.social-contacts li .icon {
	margin: 0;
	padding: 0;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.btn-primary {
	display: inline-block;
	margin-top: 2em;
	padding: 0.8em 2em;
    /* font-size: 1em; */
    line-height: 1.8em;
    letter-spacing: 1px;
    color: #FFF;
	background-color: #64ABD1;
    text-decoration: none;
    transition: background-color .3s ease;
}

.btn-primary:hover {
    background-color: #5ea4df;
}

.ui-button {
	background-image: none !important;
	background-color: #64ABD1 !important;
	padding: 0.1em !important;
	color: #FFF !important;
	text-shadow: none !important;
	border: none !important;
	border-radius: 0px !important;
	transition: background-color .3s ease !important;
	font-weight: bold;
}

.ui-button:hover {
	background-color: #5ea4df !important;
}
.ui-icon-calendar{
	background-image: url("/PDoi/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-bootstrap") !important;
}	
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
	margin-bottom: 3em;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

.header-wrapper {
    position: relative;
	background-image: url(../images/top.jpeg);
    background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -350px;
}

.header-wrapper::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: .7;
    z-index: 1;
}

.header {
	text-align: center;
    position: relative;
    z-index: 2;
}

/*********************************************************************************/
/* Options menu (top right)                                                      */
/*********************************************************************************/

.login {
	position: absolute;
	top: 10px;
	right: 0px;
	color: #ffffff;
    z-index: 2;
    background-color: #0077b3; /*#64ABD1;*/
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login a .icon {
    vertical-align: middle;
}

.login .menu-option {
	display: inline-block;
	padding: 0em 2em;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
    outline: 0;
}

#change-language {
	font-size: 1.333333333333em;
}

#menu-options-list ul {
	font-size: 0.9em;
}

#menu-options-list ul li a {
	font-size: 1.333333333333em;
}

.login .menu-option:first-of-type {
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login .menu-option:hover {
	color: #2056ac;
    background-color: #ffffff;
}

.login .menu-option > a {
	color: #ffffff;
    text-decoration: none;
    font-size: 1.6666667em;
}

.login .menu-option:hover a,
.login .menu-option:focus a,
.login .menu-option:active a,
.login .menu-dropdown .menu-dropdown-content li a:hover {
    /* color: #64ABD1; */
    color: #2056ac;
    background-color: #ffffff;
}

.login .menu-dropdown {
    position: relative;
    display: inline-block;
}

.login .menu-dropdown .menu-dropdown-content {
    right: 0;
    border-radius: 0px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #eaeaea;
    z-index: 1;
    font-size: 1.6em;
}

.login .menu-dropdown .menu-dropdown-content li a {
    margin: 0;
    padding: 0;
    color: #404040;
    text-decoration: none;
    outline: 0;
}

.login a .icon.font-caret {
	position: relative;
	left: -0.5em;
	vertical-align: super;
	font-size: 0.75em;
}

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

.logo-container {
	height: 155px;
	/* height: 10em; */
}

.logo {
	text-align: left;
}

.logo img {
	width: 130px;
}

.logo-text {
   display: inline-block;
   vertical-align: top;
   margin-top: 40px;
}

.logo-text h1,
.logo-text h2 {
	margin-bottom: 0.20em !important;
    color: #ffffff;
    font-size: 2em;
	font-weight: bold;
}

@media only screen and (max-width: 992px) {
	
	.logo-text {
		display: none;
	}
	
    .logo {
        text-align: center;
    }

}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

.menu {
    background-color: #64ABD1;
    font-size: 1em;
}

.menu .nav {
	display: inline-block;
    margin: 0;
	/* padding: 0em 0em; */
	padding: 0em 2em;
	text-align: center;
}

.menu .nav li {
	display: inline-block;
}

.menu .nav li a {
	display: inline-block;
	padding: 0em 1em;
	line-height: 60px;
    font-size: 1.25em;
    font-weight: 600;
    color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s ease, background-color .3s ease;
}

.menu li.active a,
.menu li:hover a,
.menu li:focus a,
.menu li:active a {
    background-color: #ffffff;
    color: #2056ac;
}

.mobile-menu-handle {
    display: none;
}

@media screen and (max-width: 1200px) {

    .menu .nav li a {
        /* font-size: 1.2em; */
		/* line-height: 2.67em; */
		padding: 6.4px 1em 0;
        font-size: 1.1em;
        line-height: 40px;
    }
}

@media only screen and (max-width: 992px) {

    .menu {
        position: absolute;
        top: 10px;
        left: 0px;
        background: none;
    }

    .menu .mobile-menu-handle {
        display: inline-block;
        padding: .7em 1em;
        font-size: 1.6em;
        color: #64ABD1;
        cursor: pointer;
        background-color: #ffffff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .menu .nav {
        width: 200px;
        padding: 0;
        position: absolute;
        top: 110%;
        left: -200px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        border-left: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: right .4s ease, left .4s ease;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 10;
    }

    .menu.menu-opened .nav {
        left: 0;
    }

    .menu .nav li a {
        padding: 1.5em 1.4em;
        line-height: normal;
        color: #64ABD1;
    }
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


.wrapper {
	overflow: hidden;
	padding: 2em 0em 5em 0em;
	background: #FFF;
	line-height: normal !important;
	font-size: 1em;
	min-height: 50%;
	
}

@media only screen and (max-width: 992px) {

    .wrapper {
        padding-top: 1em;
        padding-bottom: 2em;
    }
}

.ui-widget.ui-growl {
	font-size: 1.1em;
}

a.ui-link label.ui-outputlabel { 
    cursor: pointer;
    font-size: 1.3em;
	color:  #025C89;  /* #037FBC;*/
}

a.ui-link label.ui-outputlabel:hover {
    text-decoration: underline;
    color: #039be5;
}

.ui-widget.ui-datepicker {
	font-size: 1.3em;
}

label {
	font-size: 1em;
}


/*********************************************************************************/
/* Three Columns in the home page												 */
/*********************************************************************************/
/* .containerbg{
	background-image: url(../images/bg-introduction1.jpg);
	 background-size: cover;
} */

.container-services {
	font-size: 1em;
    margin-bottom: 3em;
    margin-top: 2em;
   
}

.column-content { 
	cursor:pointer;
    text-align: left;
	background-color: #0077b3;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	padding: 16px;
}

.column-content:hover{
	opacity: 0.7;
    filter: alpha(opacity=70);
}

.column-content > div {
	/*margin-top: 0.5em;*/
}

.column-content .title-icon {
	margin-top: 0;
}

.column-content .title-icon div {
	font-size: 2em;
	font-weight: bold;
	line-height: 180%;
}

.column-content .title-icon div.icon {
	font-size: 3.5em;
	    float: right;
}

.column-content .content {
	font-size: 1.3em;
}

.column-content .content p {
	text-align: left;	
}

.column-content .button {
	font-size: 1.3em;
	margin-top: 0;
	display: none;
}

.box-blue{
	background-color: #42A5F5;
}
.box-green{
	background-color:  #26a69a; /*#66BB6A*/;
}
.box-orange{
	background-color:  #ee6e73 ; /*#ee6e73 #5a727e #FFB300*/
}
.box-blueDark{
	background-color: #0077b3;
}
.box-1{
	background-color:  #5a727e ; /*#ee6e73 #5a727e #FFB300*/
}
.box-2{
	background-color:  #FFB300 ; /*#ee6e73 #5a727e #FFB300*/
}
.box-white {
	text-align: justify;
	font-size: 1.3em;
	background-color: #ffffff; 
	color:#000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	padding: 16px;
	cursor:default;
}
/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

.welcome-section {
	margin-top: 2em;
	margin-bottom: 2em;
    padding-top: 0em;
    padding-bottom: 0em;
	
}

@media only screen and (max-width: 992px) {

    .welcome-section {
        margin-top: 2em;
         padding-bottom: 2em;
    }
}
	

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page-wrapper {
	overflow: hidden;
	background: #2F1E28;
	padding: 3em 0em 6em 0em;
	text-align: center;
}


/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
	float: left;
	width: 700px;
	padding-right: 100px;
	border-right: 1px solid rgba(0,0,0,.1);
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
	float: right;
	width: 350px;
}

/*********************************************************************************/
/* Footer                                                                     */
/*********************************************************************************/

.footer {
    position: relative;
    background-image:  url(../images/top.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
}

.footer::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .6;
    z-index: 1;
}

.footer .footer-content {
    padding: 5em 0em;
    position: relative;
    z-index: 2;
}

.footer .info {
	padding: 0 100px;
}

.footer .info p {
    /* font-size: 0.9em; */
	letter-spacing: 1px;
	color: rgba(255, 255, 255, .8);
}

.footer .copyrights {
    /* font-size: 0.9em; */
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .8);
}

.footer .copyrights a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.footer .copyrights a:hover {
    text-decoration: underline;
}

.footer .img-left-wrap img,
.footer .img-right-wrap img {
    width: 250px;
}

.footer .img-left-wrap {
    position: absolute;
    bottom: 5em;
    left: 100px;
}

.footer .img-right-wrap {
    position: absolute;
    right: 100px;
    bottom: 5em;
}

@media only screen and (max-width: 1200px) {

    .footer .footer-content {
        padding: 5em 0 8em;
    }

    .footer .info {
        padding: 0;
    }

    .footer .img-left-wrap {
        right: 50%;
        bottom: 20px;
        left: auto;
    }

    .footer .img-right-wrap {
        right: auto;
        bottom: 20px;
        left: 50%;
    }
}

@media only screen and (max-width: 767px) {

    .footer .footer-content {
        padding: 4em 0 2em;
    }

    .footer .img-left-wrap {
        position: static;
        margin: 2em 0 1em;
    }

    .footer .img-right-wrap {
        position: static;
    }
}


/*********************************************************************************/
/* Paginators																	 */
/*********************************************************************************/

/* Page buttons */
.ui-paginator-page {
	background-image: none !important;
	background-color: #64ABD1 !important;
	color: #FFF !important;
	text-shadow: none !important;
	border: none !important;
	border-radius: 0px !important;
	transition: background-color .3s ease !important;
	font-weight: bold;
	padding: 4px 12px !important;
}

.ui-paginator-page:hover {
	background-color: #5ea4df !important;
}

.ui-paginator-page.ui-state-active {
	color: #64ABD1 !important;
	background-color: white !important;
	border: 1px solid #64ABD1 !important;
	-webkit-box-shadow: 0 0 8px #64ABD1;
    box-shadow: 0 0 8px #64ABD1;
}

/* First/Prev/Next/Last page buttons */
.ui-paginator-first, .ui-paginator-prev,
.ui-paginator-next, .ui-paginator-last {
	background-image: none !important;
	background-color: #64ABD1 !important;
	color: #FFF !important;
	text-shadow: none !important;
	border: none !important;
	border-radius: 0px !important;
	transition: background-color .3s ease !important;
	padding: 4px 10px !important;
} 
.ui-paginator {
	border: none;
	background-color:#ffffff;
}
.ui-paginator a span.ui-icon {
	background-image: url(/PDoi/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-bootstrap);
}

.ui-paginator-rpp-options{
	
	background-image: none !important;
	background-color: #fff !important;
	
	
	border-radius: 0px !important;
	
	font-weight: bold;
	padding: 3px 10px !important;
}


/*********************************************************************************/
/* Modal dialogs		                                                         */
/*********************************************************************************/

.user-modal-dialog .modal-header,
.user-modal-dialog .modal-content,
.user-modal-dialog .modal-footer {
	padding: 12px 12px;
	width: auto;
	background-color: white;
}

.user-modal-dialog .modal-header h4 {
	font-size: 1.5em;
}

.user-modal-dialog .button-modal-dialog {
	font-weight: normal;
	padding: 0.8em 1em !important;
}

.user-modal-dialog .modal-footer-button-container {
	overflow: hidden;
	float: right;
}

.user-modal-dialog .modal-footer {
	height: auto;
	overflow: auto;
	padding-top: 0px;
}

/*********************************************************************************/
/* Change password dialog                                                        */
/*********************************************************************************/

#changePassModal .layout {
	border-spacing: 0px 6px;
}

#changePassModal .input-label {
	padding-right: 10px;
	text-align: right;
}

#changePassModal .input-label label {
	color: black;	
	font-size: 1em;
}


/*********************************************************************************/
/* Add certificate dialog                                                        */
/*********************************************************************************/

#regCertModal .modal-content .icon {
	font-size: 1em;
	vertical-align: middle;
	margin-right: 0.5em;
}


/*********************************************************************************/
/* Misc.																		 */
/*********************************************************************************/
a.ui-link label.ui-outputlabel {
	cursor: pointer;
}

.panel-head-toggle {
	font-size: 1.3em !important;
}

.line-separator {
	/* color: rgba(100, 171, 209, 0.2); */
	color: rgba(0, 0, 0, 0.2);
	height: 1px;
	border: none;
	border-top: 1px solid;
}


/*********************************************************************************/
/* Color Blind																	 */
/*********************************************************************************/

body.color-blind {
    background: black !important;
    color: white !important;
}

body.color-blind .login {
	background-color: black;
}

/* Menu */
body.color-blind .menu {
	background-color: black;
}

/* Menu button */
body.color-blind .menu .mobile-menu-handle {
	background-color: black!important;
	color: white;
	border-radius: 0px;
	transition: background-color .3s ease !important;
}

/* Menu button, hovered */
body.color-blind .menu .mobile-menu-handle:hover {
	background-color: #333 !important;
}

/* Menu button, clicked */
body.color-blind .menu.menu-opened .mobile-menu-handle {
	background-color: #555!important;
	color: white;
	border:  1px solid #aaa;
}

body.color-blind .menu li:hover {
	background-color: #333;
}

body.color-blind .menu li a {
	background-color: transparent !important;
    color: yellow !important;
}

/* Menu dropdown */
body.color-blind .menu.menu-opened .nav {
	background-color: black;
	border-radius: 0px;
}

body.color-blind #selectLangDropdown li a {
	color: white !important;
	background-color: black;
	border: 1px solid white;
}

body.color-blind #selectLangDropdown li a:hover {
	background-color: #333;
}


body.color-blind .login .menu-option:hover a span.icon {
	color: black;
}

body.color-blind .login .menu-option:hover a {
	color: black;
}

body.color-blind .login .menu-dropdown-content {
	background-color: black;
}

body.color-blind .login .menu-dropdown-content li:hover {
	background-color: #333;
}

body.color-blind .login .menu-dropdown-content li a {
	background-color: transparent;
	color: white;
}

body.color-blind .login .menu-dropdown-content li a,
body.color-blind .login .menu-dropdown-content li a span.icon {
	color:white !important;
}

body.color-blind .menu-dropdown-content li a:hover {
	color: white !important;
	background-color: transparent !important;
}


/*********************************************************************************/
/* Homepage large links															 */
/*********************************************************************************/

body.color-blind .column-content {
	background-color: black;
	opacity: 1;
	color: white;
	border: 1px solid;
	transition: background-color .3s ease;
}

body.color-blind .column-content:hover {
	background-color: #333333;
}

body.color-blind .column-content .title-icon .title-nav {
	color: yellow;
}



body.color-blind .header-wrapper {
    background: black !important;
    color: white !important;
}

body.color-blind h1, body.color-blind h2, body.color-blind  h3 {
    color: white !important;
}

body.color-blind .footer {
    background: black !important;
    color: white !important;
}

body.color-blind .wrapper {
    background: black !important;
    color: white !important;
}

body.color-blind .ui-panel {
	 background: black !important;
    color: white !important;
}

/* Steps labels */
body.color-blind .ui-steps-title {
	background: black !important;
	color:white !important;
}

/* Active step */
body.color-blind .ui-steps .ui-steps-item.ui-state-highlight {
	background-color: white !important;
	background-image: none;
	border: 1px solid white;
}
body.color-blind .ui-steps .ui-steps-item.ui-state-highlight span.ui-steps-number {
	background-color: black !important;
	border: 1px solid white;
}

/* Inactive step */
body.color-blind .ui-steps .ui-steps-item.ui-state-default {
	background-color: white !important;
	background-image: none;
	border: 1px solid white;
}
body.color-blind .ui-steps .ui-steps-item.ui-state-default span.ui-steps-number {
	background-color: black !important;
	border: 1px solid white;
}

/* Input fields text */
body.color-blind .ui-panel .ui-widget-content {
    background: black !important;
    color: white !important;
}

/* fa icons */
body.color-blind .fa,
body.color-blind .fas {
	color:white;
}

/* Radio button labels */
body.color-blind .ui-radiobutton + label {
	background: black !important;
	color: white !important;
}

/* Checkbox labels */
body.color-blind .ui-selectbooleancheckbox + label {
	background: black !important;
	color: white !important;
	cursor: pointer;
}

/* Document titles */
body.color-blind .ui-link.ui-widget {
	background: black !important;
	color: yellow !important;
}

/* Links inside opened documents (in sectionDetailsView.jsf) */
body.color-blind #formSectD\:idFullTextD a {
	background: black !important;
	color: yellow !important;
}

/* Document titles */
body.color-blind #formSectD\:panelFiles a button + span {
	background: black !important;
	color: yellow !important;
}

/* Search titles */ 
body.color-blind .ui-panel-content.ui-widget-content a.ui-link label.ui-outputlabel {
	color: yellow !important;
}

/* Input fields */
body.color-blind .ui-inputfield {
	background-color: #333 !important;
	color: white !important;
	border-color: white !important;
	text-shadow: none !important;
}

/* Input fields, active */
body.color-blind .ui-inputfield.ui-state-focus {
	background-color: black !important;
	-moz-box-shadow:     0 0 8px #ccc !important;
	-webkit-box-shadow:  0 0 8px #ccc !important;
	box-shadow:          0 0 8px #ccc !important;
	transition: background-color .3s ease !important;
}

body.color-blind .ui-outputlabel {
	color: white;
}

/* Panel headers in applicationSubmission */
body.color-blind .ui-panel-titlebar.ui-widget-header {
	color: white;
    background-color: black;
    border: none;
}

/* Panel horizontal lines */
body.color-blind .ui-panel-titlebar.ui-widget-header::after {
	width: 100%;
	height: 1px;
	background-color: white;
	margin-top: 0.3em;
}

/* Panel */
body.color-blind .ui-panelgrid-content {
	background-color: black;
	color: white;
}

body.color-blind .ui-datagrid-content.ui-widget-content {
	background-color: black !important;
}

/* Tree table nodes */
body.color-blind .ui-treetable tr {
	background-color: black !important;
	color: white;
}

/* Tree table selected node */
body.color-blind .ui-treetable tr.ui-state-highlight {
	background-image: none;
	background-color: white !important;
	color: black;
	background-image: none;
}

/* Tree table icons */
body.color-blind .ui-treetable .ui-treetable-data span.ui-icon {
	background-image: url(/PDoi/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-bootstrap);
}

/* Tree table icons, selected */
body.color-blind .ui-treetable .ui-treetable-data .ui-state-highlight span.ui-icon {
	background-image: url(/PDoi/javax.faces.resource/images/ui-icons_333333_256x240.png.jsf?ln=primefaces-bootstrap);
}

/* Paginators */
body.color-blind .ui-paginator {
	border: none;
    background: black !important;
}

body.color-blind .ui-paginator .ui-paginator-current {
	color: white !important;
}

body.color-blind .ui-paginator-page {
	background-image: none !important;
	background-color: black !important;
	color: white !important;
	text-shadow: none !important;
	border: 1px solid white !important;
	border-radius: 0px !important;
	transition: background-color .3s ease !important;
	font-weight: bold;
	padding: 4px 12px !important;
}

body.color-blind .ui-paginator-page:hover {
	background-color: #333 !important;
}

body.color-blind .ui-paginator-page.ui-state-active {
	color: black !important;
	background-color: white !important;
	border: 1px solid white !important;
	-webkit-box-shadow: 0 0 8px white;
    box-shadow: 0 0 8px white;
}

body.color-blind .ui-paginator-first, 
body.color-blind .ui-paginator-prev,
body.color-blind .ui-paginator-next, 
body.color-blind .ui-paginator-last {
	background-image: none !important;
	background-color: black !important;
	color: white !important;
	text-shadow: none !important;
	border: 1px solid white !important;
	border-radius: 0px !important;
	transition: background-color .3s ease !important;
	padding: 4px 10px !important;
} 

body.color-blind .ui-button {
	background-image: none !important;
	background-color: #000000 !important;
	padding: 0.1em !important;
	color: #FFF !important;
	text-shadow: none !important;
	border: 1px solid #ffffff !important;
	border-radius: 0px !important;
	transition: background-color .3s ease !important;
	font-weight: bold;
}

body.color-blind .ui-button:hover {
	background-color: #333 !important;
}

body.color-blind .btn-primary {
	color: white;
	background-color:black;
	border: 1px solid white;
	border-radius: 0px;
	transition: background-color .3s ease !important;
	font-weight: bold;
}

body.color-blind .btn-primary:hover {
	background-color: #333 !important;
}

/* Inactive tabs */
body.color-blind .ui-tabs-nav .ui-tabs-header a {
	color: white !important;
	text-shadow: none;
}

/* Hovered tabs */
body.color-blind .ui-tabs-nav .ui-tabs-header.ui-state-hover a {
	background-color: #555;
}

/* Active tab */
body.color-blind .ui-tabs-nav .ui-tabs-header.ui-state-active a {
	background-color: black;
	color: white !important;
	font-weight: bold;
	text-shadow: none;
}

/* Datatable head */
body.color-blind .ui-datatable thead th {
	background-color: black !important;
	color: white !important;
	text-shadow: none !important;
	box-shadow: none !important;
	background-image: none !important;
	border: 1px solid white !important;
}

/* Datatable rows */
body.color-blind .ui-datatable tbody tr.ui-datatable-odd {
	color:  white !important;
	background-color: black !important;	
}

/* Datatable rows */
body.color-blind .ui-datatable tbody tr.ui-datatable-even {
	color: white !important;
	background-color: #333 !important;
}

body.color-blind .line-separator {
	color: rgba(255, 255, 255, 0.8);
}

/* Modal dialogs */
body.color-blind .user-modal-dialog {
	border: 1px solid white;
	box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.6);
}

body.color-blind .user-modal-dialog .modal-header,
body.color-blind .user-modal-dialog .modal-content,
body.color-blind .user-modal-dialog .modal-footer {
	background-color: black;
}

body.color-blind .user-modal-dialog .modal-header h4 {
	color: white;
}

body.color-blind .user-modal-dialog .button-modal-dialog {
	font-weight: normal;
	padding: 0.8em 1em !important;
}

body.color-blind #changePassModal .input-label label {
	color: white;	
}

body.color-blind .ui-link label,
body.color-blind .ui-link:hover label {
	color: yellow;
}

body.color-blind .box-blueDark {
	background-color: black;
}

body.color-blind .form-background {
	background-color: black;
}

body.color-blind .form-background .box-search {
	background-color: black;
	border: 1px solid white;
}

body.color-blind .advanced-search-toggle {
    color: yellow;
}

body.color-blind .admins-panel {
	background-color: black;
}

body.color-blind .ui-dialog.ui-widget {
    border: 1px solid white;
}

body.color-blind .ui-dialog.ui-widget-content .ui-dialog-titlebar,
body.color-blind .ui-dialog.ui-widget-content .ui-dialog-footer {
	color: white;
	background-color: black;
}

body.color-blind .ui-dialog.ui-widget-content .ui-dialog-titlebar-icon .ui-icon-closethick{
    background-image: url(/PDoi/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-bootstrap);
}

body.color-blind .ui-dialog-content {
	background-color: black;
	color: white;
}

body.color-blind .ui-dialog-content .ui-tree {
	color:white;
	background-color:black;
}

body.color-blind .ui-tree-container .ui-tree-toggler,
body.color-blind .ui-tree-container .ui-treenode-icon {
	background-image: url(/PDoi/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-bootstrap);
}

body.color-blind .ui-dialog.ui-widget-content .ui-icon-gripsmall-diagonal-se {
	background-image: url(/PDoi/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-bootstrap);
}

body.color-blind .banner, {
	filter: grayscale(1);
}

.box-search {
    text-align: left;
	background-color: #ebf5fa;
	color: #000000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	padding-left: 16px;
	padding-right: 16px;
	padding-top:6px; 
	padding-bottom:6px;
}

.ui-panel { 
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

#appFilterForm .ui-panel , #formSectList .ui-panel { 
	background-color: #f7f8f8;
}

.page-title { 
	font-size: 2.2em;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
}


.page-title .title-icon div.icon {
	float: left;
	padding-right:20px; 
}

.ui-widget{
	font-family: Arial, sans-serif;
}
